.sidebar{
    height: 700px;
}
.header{
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 5%;
    font-size: 1.6rem;
    font-weight: 500;
    color: #333;
}
.wrapper{
    padding-left: 5%;
    height: auto;
    border-top: 1px solid rgb(204, 203, 203);
    border-bottom: 1px solid rgb(204, 203, 203);
    background-color: white;
}