.minMax{
    height: 80px;
    border-bottom: 1px solid rgb(204, 203, 203);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header{
    font-size: 1.6rem;
    font-weight: 400;
    color:gray ;
}
.inputs{
    width: 100%;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
}
.min{
    width: 30%;
    margin-right: 5px;
    margin-left: 5px;
    font-size: 1.6rem;
    font-weight: 400;
    
}
.max{
    width: 30%;
    font-size: 1.6rem;
    margin-right: 5px;
    margin-left: 5px;
    font-weight: 400;
}
.min:focus{
    outline: none;
}
.max:focus{
    outline: none;
}

@media screen and (max-width:850px) {
    .minMax{
        padding: 0 10px;
    }
}